.search-box{
    display: none!important;
}

.footer-wrapper{
    display: none!important;
}

.theme-container .theme-reco-default-content{
    margin-bottom: 0 !important;
    border-top: 0 solid transparent !important;
}