.search-box{
    display: none;
}

.footer-wrapper{
    display: none;
}

.theme-container .theme-reco-default-content{
    margin-bottom: 0 !important;
    border-top: 0 solid transparent !important;
}

.bulletin-wrapper {
    top: 8rem;
    max-height: 600px;
}